<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <table role="presentation" width="60%" style="margin: 0 auto;">
        <tr>
            <td>
                <p style="margin: 0 0 10px 0; font-size: 18px; color: black; font-weight: 700;">Hej, {{username}}</p>
            </td>
        </tr>
        <tr>
            <td>
                <p style="margin: 0 0 10px 0; color: rgb(80, 80, 80); font-size: 16px;">
                    Otrzymaliśmy twoją prośbe o zresetowanie hasła. Kliknij zmień hasło poniżej, a zostaniesz przekierowany\przekierowana na stronę na której będziesz mógł\mogła ustawić nowe hasło.
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <a target="_blank" rel="noopener noreferrer" style="display: block; width: 160px; line-height: 44px; padding: 5px; margin: 0 auto; font-size: 20px; font-weight: 700; text-align: center; background-color: #ff9800; color: white; border-radius: 2px; text-decoration: none;" href="{{link}}">
                    Zmień hasło
                </a>
            </td>
        </tr>
    </table>
</body>
</html>