.change-password-form {
    margin-top: 20px;
    padding: 20px;
}

.change-password-form>h3 {
    text-align: center;
    margin-bottom: 15px;
}

.password-change-wrap {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.password-change-wrap p {
    color: var(--font-color-variant);
    font-weight: 700;
}


.change-password-form>.form-input {
    margin-bottom: 20px;
}

.change-password-spinner-loader {
    border: 2px solid white;
    border-top: 2px solid transparent;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media(min-width:1000px) {
    .change-password-form {
        width: 400px;
        padding: 0px;
    }
}