.reset-password-wrap {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.reset-password-form,
.link-is-not-valid-wrap,
.password-changed-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
    height: 280px;
    padding: 20px;
    border: 1px solid var(--border-color);
    border-radius: 20px;
    background-color: var(--surface-color);
    text-align: center;
}

.link-is-not-valid-wrap>a,
.password-changed-wrap>a {
    font-weight: 700;
    color: var(--primary-color);
}

.reset-password-spinner-loader {
    border: 2px solid white;
    border-top: 2px solid transparent;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (min-width: 1000px) {

    .reset-password-form,
    .link-is-not-valid-wrap,
    .password-changed-wrap {
        width: 350px;
    }
}