.forgot-password-wrap {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.forgot-password-form,
.mail-sent-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
    height: 280px;
    padding: 20px;
    border: 1px solid var(--border-color);
    border-radius: 20px;
    background-color: var(--surface-color);
}

.mail-sent-wrap {
    align-items: center;
}

.forgot-password-info {
    text-align: center;
}

.forgot-password-info p {
    margin-top: 5px;
    font-weight: 700;
    color: var(--font-color-variant);
}

.mail-sent-wrap>img {
    width: 118px;
}

.mail-sent-wrap>p {
    color: var(--font-color-variant);
    font-weight: 700;
    text-align: center;
}

.mail-sent-wrap>a {
    color: var(--primary-color);
    font-weight: 700;
    text-align: center;
}

.forgot-password-spinner-loader {
    border: 2px solid white;
    border-top: 2px solid transparent;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (min-width: 1000px) {

    .forgot-password-form,
    .mail-sent-wrap {
        width: 350px;
    }
}