.character-description {
    width: 90%;
}

.character-description>article {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.27);
    background-color: var(--surface-color);
    color: var(--font-color);
}

.character-description-title {
    margin-bottom: 8px;
    font-size: 20px;
    font-family: 'Pacifico', cursive;
    font-weight: 700;
    letter-spacing: 4px;
}

@media(min-width: 1000px) {
    .character-description {
        width: 800px;
    }

    .character-description-title {
        margin-bottom: 8px;
        font-size: 26px;
        font-family: 'Pacifico', cursive;
        font-weight: 700;
        letter-spacing: 4px;
    }

}